@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Roboto&display=swap');

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 25px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;
  flex-wrap: wrap;
  padding: 0 70px;
}

#navbar {
  display: flex;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  padding: 0 15px;
  text-transform: uppercase;
  color: #ff7d01;
  font-weight: 600;
  font-size: 14px;

}

#navbar a:hover {
  text-decoration: underline;
  color: #3763ae;
}

#bg-pokemon {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container section {
  padding: 0 20px;
}

#container section article {
  display: flex;
  align-items: center;
  position: relative;
}

#navbarPokemon {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: #3763ae;
  color: #fff;
  padding: 15px 10px;
  margin-bottom: 20px;
}

#navbarPokemon label {
  padding: 3px 10px;
}

#navbarPokemon input,
select {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  padding: 3px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #2b5aac;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 8px 3px #ccc;
  transition: box-shadow 0.3s;
  background-color: #f1f0f0;
  transition: transform .35s ease;
  border-radius: 15px;
  margin: 20px 0;
  padding: 0 !important;
  position: relative;
  z-index: 2;
}

.card::after {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(../img/bg_effect.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  opacity: 0.1;
  background-size: cover;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0px 0px 15px 5px #b1b1b1;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card img {
  margin: 0 auto;
  padding: 20px;
}

.card h1 {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.card h2 {
  font-size: 11px;
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 00.5px;
}

.card button {
  margin: 15px auto;
  border-radius: 15px;
  border: 1px solid #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
  padding: 8px 18px;
  outline: none;
}

.card button:hover {
  background-color: #fff;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.card-number {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

#footer {
  background-color: #3763ae;
  text-align: center;
  padding: 18px 0 13px 0;
}

#footer a img {
  margin-left: 20px;
}

#copy {
  background-color: #3f3f3f;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

@media(min-width:769px) {

  .container-video {
    max-width: 600px;
  }

  #container article {
    width: 190px;
  }

}

@media(max-width:480px) {
  #header {
    padding: 0 15px;
  }

  #navbar ul {
    flex-wrap: wrap;
  }

  #navbar ul li {
    width: 100%;
  }
}

/* cor de fundo */

.type-grass,
#type-grass {
  background-color: #69C23D;
  color: #fff;
}

.type-fire,
#type-fire {
  background-color: #ED6D12;
  color: #fff;
}

.type-water,
#type-water {
  background-color: #4578ED;
  color: #fff;
}

.type-bug,
#type-bug {
  background-color: #97A51D;
  color: #fff;
}

.type-normal,
#type-normal {
  background-color: #9C9C63;
  color: #fff;
}

.type-poison,
#type-poison {
  background-color: #923A92;
  color: #fff;
}

.type-electric,
#type-electric {
  background-color: #F6C913;
  color: #fff;
}

.type-ground,
#type-ground {
  background-color: #DBB54D;
  color: #fff;
}

.type-fighting,
#type-fighting {
  background-color: #AE2A24;
  color: #fff;
}

.type-psychic,
#type-psychic {
  background-color: #F73670;
  color: #fff;
}

.type-rock,
#type-rock {
  background-color: #A48F32;
  color: #fff;
}

.type-ghost,
#type-ghost {
  background-color: #644E88;
  color: #fff;
}

.type-ice,
#type-ice {
  background-color: #7ECECE;
  color: #fff;
}

.type-dragon,
#type-dragon {
  background-color: #5E1DF7;
  color: #fff;
}

.type-fairy,
#type-fairy {
  background-color: #E87890;
  color: #fff;
}

.type-dark,
#type-dark {
  background-color: #644E40;
  color: #fff;
}

.type-steel,
#type-steel {
  background-color: #A0A0C0;
  color: #fff;
}

/* modal */

.c-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; outra forma de pegar 100% da tela*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.c-modal_content {
  padding: 10px 15px;
  box-sizing: border-box;
  max-width: 370px;
  max-height: 600px;
  border-radius: 15px;
  margin: 0 15px;
}

.c-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.c-modal_content h1 {
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.c-modal_content h2 {
  padding: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 00.5px;
}

.c-modal_content p {
  padding: 8px 0;
  text-align: center;
  letter-spacing: 0.5px;
}

.c-modal-container,
.c-modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.c-modal_content span {
  font-size: 40px;

}

.close {
  cursor: pointer;
}

body .itemActive {
  display: flex;
}
