@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Roboto&display=swap');

/* body {
  background: url('./img/bg02.jpg');
} */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 25px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;

}

#logo-header {
  margin-left: 70px;
}

#navbar {
  display: flex;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 60px;
}

#navbar a {
  text-decoration: none;
  padding: 0 15px;
  text-transform: uppercase;
  color: #ff7d01;
  font-weight: 600;
  font-size: 14px;

}

#navbar a:hover {
  text-decoration: underline;
  color: #3763ae;
}

#container {
  display: flex;
  flex-direction: column;
}

#bg-home {
  max-width: 100%;
  margin-bottom: 30px;
}

#container-info {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0px auto;
}

.container-info-pokemon h1 {
  margin: 35px 0 10px 0;
  color: #3763ae;
}

.container-info-pokemon {
  margin: 20px 0 30px 0;
  padding: 0 10px 15px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0px #757575;
  text-align: center;
  background-color: #eeeeee;
  color: #3f3f3f;
}

#container-info-video h2 {
  margin: 10px 0;
  color: #3763ae;
  font-size: 18px;
  text-align: center;
}

#container-info-video {
  margin: 0 auto;
  margin-bottom: 40px;
}

#container-video {
  max-width: 600px;
  border-radius: 20px;
}

#footer {
  background-color: #8080804d;
  text-align: center;
  font-family: "Josefin Sans";
}

#github {
  width: 15%;
}
